header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(20, 195, 244, 0.639);
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    display: block;
    text-align: center !important;
}

.icon {
    flex-basis: 100%,
    height: 150px;
    width: 150px;
}

/* section id = 'addKoala' */
#addKoala {
    background-color: ivory;
}

#addButton {
    color: blue;
}

#koalaDataTable th {
    width: auto;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    background-color: rgb(8, 203, 173);
}

#koalaDataTable tr {
    width: auto;
    border: 5px solid rgb(34, 77, 163);
    padding: 20px;
    text-align: left;
}

#viewKoalas tr:nth-child(even){background-color: #f2f2f2;}

#viewKoalas tr:hover {background-color: rgb(200, 199, 199);}

#isReadyButton {
    color: green;
}

#deleteButton {
    color: purple;
}